* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

section {
  min-height: 100vh;
}

.column {
  float: left;
  width: 50%;
}
.title {
  font-size: 2rem;
  text-align: center;
  margin: 2rem 0;
}
.navbar {
  display: flex;
}

.brand a {
  font-size: 1.5rem;
  font-weight: bolder;
  color: white;
}

nav {
  background-color: rgb(70, 70, 220);
  padding: 1rem 4rem;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100%;
  overflow: hidden;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 3rem;
  margin-top: 5px;
  font-size: 1.2rem;
}

.nav-links a {
  color: white;
}

.nav-links a:hover {
  font-size: 1.3rem;
  font-weight: bold;
}
.menu-button {
  display: none;
}
section.about {
  background-color: lightgray;
}

.about {
  padding: 5rem 4rem;
  grid-column: auto;
}

.content h2,
.card {
  font-size: 2rem;
  margin: 3rem 0;
}
.content p {
  margin: 1rem 0;
}
.about img {
  width: 400px;
  height: 400px;
  border-radius: 200px;
  margin-left: 200px;
}

.about button {
  width: 150px;
  height: 50px;
  padding: 0.5rem 1rem;
  border: none;
  background-color: rgb(70, 70, 220);
  color: white;
  font-size: medium;
  font-weight: bold;
  margin: 1rem 0.5rem;
  border-radius: 10px;
}

.about button:hover {
  background-color: white;
  color: rgb(70, 70, 220);
}
.portfolio {
  padding: 5rem 4rem;
}
.project {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 20px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8);
  transition: 0.3s;
  width: 100%;
  text-align: center;
  margin: auto;
}
.card .container {
  width: 300px;
  height: 200px;
}
.card h4 {
  margin: auto;
  width: 50%;
}

.card i {
  font-size: 6rem;
  margin: 2rem;
  color: rgb(70, 70, 220);
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.8);
}
@media screen and (max-width: 768px) {
  .navbar .brand {
    display: flex;
  }
  .nav-links {
    display: none;
  }
  .nav-links.show {
    flex-direction: column;
    align-items: flex-end;
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 2rem;
  }
  .menu-button {
    display: block;
    font-size: 2rem;
    color: white;
    cursor: pointer;
    margin-top: -0.5rem;
    z-index: 3;
  }
}
