* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

section {
  min-height: 100vh;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 2rem;
  text-align: center;
  margin: 2rem 0;
}

.navbar {
  display: flex;
}

.brand a {
  font-size: 1.5rem;
  font-weight: bolder;
  color: white;
}

/* Navbar */

nav.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(70, 70, 220);
  padding: 1rem 4rem;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

.brand a {
  font-size: 1.5rem;
  font-weight: bolder;
  color: white;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 3rem;
  font-size: 1.2rem;
}

.nav-links a {
  color: white;
}

.nav-links a:hover {
  font-size: 1.3rem;
  font-weight: bold;
}

.menu-button {
  display: none;
}

/* About Section */

section.about {
  background-color: lightblue;
}

.about,
.services,
.contact {
  padding: 2rem 4rem;
}

.content h2,
.card {
  font-size: 2rem;
}

.content p {
  margin: 1rem 0;
}

.about .column {
  flex: 1 1 50%;
  padding: 1rem;
}

.about img {
  width: 400px;
  height: 400px;
  border-radius: 200px;
  margin-left: 50px;
}

.about button {
  width: 150px;
  height: 50px;
  padding: 0.5rem 1rem;
  border: none;
  background-color: rgb(70, 70, 220);
  color: white;
  font-size: medium;
  font-weight: bold;
  margin: 1rem 0.5rem;
  border-radius: 10px;
}

.about button:hover {
  background-color: white;
  color: rgb(70, 70, 220);
}

/* services Section */
section.services {
  background-color: lightskyblue;
}
.services .title {
  margin-bottom: 3rem;
}

.services .row {
  margin-top: 1rem;
}

.services .column {
  flex: 1 1 30%;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 400px;
  min-width: 350px;
  height: 250px;
  background-color: white;
}

.card i {
  margin: 1rem;
  font-size: 4rem;
  color: rgb(70, 70, 220);
}

.card h4 {
  font-size: 1.5rem;
  text-align: center;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.8);
}

/* Contact */
section.contact {
  background-color: lightblue;
}

input[type="text"],
select,
textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
}
input[type="email"],
select,
textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
}
/* Style the submit button with a specific background color etc */
input[type="submit"] {
  background-color: #04aa6d;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type="submit"]:hover {
  background-color: #45a049;
}

/* Add a background color and some padding around the form */
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 2rem;
}

footer {
  background-color: blue;
  color: white;
  padding: 1rem;
  font-size: 1rem;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  text-align: center;
}
@media screen and (max-width: 992px) {
  .about {
    padding: 1rem 2rem;
  }
  .about .column {
    flex: 1 1 50%;
    padding: 1rem;
  }
  .about img {
    width: 250px;
    height: 250px;
    margin-left: 0;
  }
  .services .column {
    margin: 2rem;
  }
  .card {
    max-width: 100%;
  }

  .services .row {
    margin-top: 0.5rem;
    gap: 1rem;
  }

  .services .column {
    flex: 1 1 45%;
  }
}

@media screen and (max-width: 768px) {
  .menu-button {
    display: block;
    font-size: 2rem;
    color: white;
    cursor: pointer;
    z-index: 11;
  }

  .nav-links {
    position: absolute;
    top: 70px; /* turun dari navbar */
    right: 0;
    background-color: rgb(70, 70, 220);
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    padding: 1rem 2rem;
    display: none; /* default hidden */
  }

  .nav-links.show {
    display: flex;
    animation: slideDown 0.3s ease forwards;
  }

  .nav-links li {
    width: 100%;
  }

  .nav-links a {
    display: block;
    width: 100%;
    padding: 0.5rem 0;
  }

  @keyframes slideDown {
    from {
      opacity: 0;
      transform: translateY(-10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .about img {
    width: 250px;
    height: 250px;
    margin-left: 0;
  }

  .about {
    padding: 3rem 1rem;
    text-align: center;
  }

  .about .column {
    flex: 1 1 100%;
    padding: 1rem;
  }
  .content h2 {
    font-size: 1.5rem;
  }

  .services {
    padding: 3rem 1rem;
    align-items: center;
  }

  .services .row {
    margin-top: 1rem;
    gap: 1rem;
    justify-content: center;
  }
  .services .column {
    flex: 1 1 100%;
  }
  .card {
    width: 90% auto;
  }

  .card i {
    font-size: 3rem;
  }
  .card h4 {
    font-size: 1.2rem;
  }
}
